body .main-pages .section-page .btn-form:hover, body .main-pages .section-page .portfolio-git__a:hover, body .main-pages .section-page .card-portfolio:hover, body .main-pages .section-page .card-footer .btn-cursos:hover, body .main-pages .section-page .cloud-arrow-down-modif:hover, body header .nav-link-modif:hover, body footer ul .resize-svg:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

body {
  background-color: #000;
  color: #f2f2f2;
}
body ul {
  list-style-type: none;
}
body img {
  max-width: 100%;
  width: 100%;
  display: block;
}
body a {
  text-decoration: none;
  font-style: inherit;
}

body footer {
  position: relative;
  bottom: 0;
  height: 12vh;
  max-width: 100%;
  padding: 1em 0 0.8em 0;
  overflow: hidden;
  background-color: #222126;
}
body footer ul {
  gap: 3em;
}
body footer ul .resize-svg {
  height: 1.7rem;
}
body header nav {
  background-color: #000;
}
body header .container-nav {
  margin: 0 8em 0 3em;
}
body header .code-slash-modif {
  color: #f2f2f2;
  margin-right: 0.5rem;
}
body header .navbar-collapse-menu {
  display: flex;
  flex-direction: row-reverse;
}
body header .navbar-collapse-menu .form {
  display: flex;
  justify-content: center;
  margin-right: 8em;
}
body header .navbar-nav-modif {
  gap: 2em;
  font-family: sans-serif;
}
body header .navbar-nav .nav-link.active,
body header .navbar-nav .show > .nav-link {
  color: #116ebf;
}
body header .btn-outline-success {
  color: #116ebf;
  border-color: #116ebf;
}
body header .dropdown-item:focus,
body header .dropdown-item:hover {
  background-color: #116ebf;
}
body header .nav-link-modif:hover {
  color: #f2f2f2;
}
body header .btn:first-child:hover,
body header :not(.btn-check) + .btn:hover {
  background-color: #116ebf;
  border-color: #116ebf;
  color: #f2f2f2;
}

body .main-index {
  min-height: 100vh;
  background-image: url(../img/bg-index.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
body .main-index .container-index__section {
  padding: 6.5em;
  margin-left: 3em;
}
body .main-index .container-index__section .index-section__h1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0.3em;
  margin-left: 12em;
  border-left: 1px solid #f2f2f2;
  color: #f2f2f2;
  font-size: 2.4rem;
  text-align: center;
}
body .main-index .container-index__section .index-section__h1 .nombre-index {
  font-size: 2.8rem;
  text-align: center;
}
body .main-index .container-index__section .index-section__p {
  padding: 1em;
  margin-left: 22em;
  color: #f2f2f2;
  width: 70%;
  text-align: center;
  font-weight: bold;
}
body .main-index .container-index__section .icon-ul {
  margin: 2em 2em 0 0;
  gap: 3em;
}

body .main-pages {
  background: linear-gradient(0deg, rgb(116, 121, 126) 0%, rgba(0, 0, 0, 0.9199539313) 25%);
  font-family: sans-serif;
  padding: 3em;
}
body .main-pages .section-page {
  margin-top: 5em;
}
body .main-pages .section-page .main-titles__h1 {
  margin: 2em;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 1em;
}
body .main-pages .section-page .person-circle-modif {
  padding: 1em;
  width: 13em;
  justify-content: center;
  background-color: #138af2;
  border-radius: 13em;
}
body .main-pages .section-page .cloud-arrow-down-modif {
  height: 3em;
}
body .main-pages .section-page .section-sobre-mi__div {
  margin-top: 3em;
  padding: 1em;
  font-size: 1.6rem;
  text-align: center;
}
body .main-pages .section-page .containerTitles__p {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 2em;
}
body .main-pages .section-page .sub-titles__h2 {
  padding-top: 2em;
}
body .main-pages .section-page .card-body-modif--GCard {
  color: #01030d;
}
body .main-pages .section-page .card-title-cursos {
  color: #138af2;
}
body .main-pages .section-page .card-text-cursos {
  font-family: sans-serif;
  line-height: normal;
}
body .main-pages .section-page .sub-titles__p {
  font-size: 1.2rem;
  text-align: center;
}
body .main-pages .section-page .card-portfolio {
  border: #01030d solid 1px;
  padding: 3%;
  background-color: #24303c;
}
body .main-pages .section-page .card-portfolio-body {
  margin-top: 2%;
  color: #01030d;
  background-color: #116ebf;
  border-radius: 0 0 1rem 1rem;
}
body .main-pages .section-page .card-text-small {
  color: #24303c;
}
body .main-pages .section-page .row-portfolio {
  gap: 5em;
}
body .main-pages .section-page .portfolio-git__p {
  font-size: 1.5rem;
  text-align: center;
  gap: 1%;
}
body .main-pages .section-page .portfolio-git__a {
  color: #f2f2f2;
}
body .main-pages .section-page form {
  color: grey;
}
body .main-pages .section-page .btn-form {
  margin: 2em;
}
@media only screen and (max-width: 1200px) {
  body .main-index .container-index__section {
    margin-left: 4.5em;
  }
  body .main-index .container-index__section .index-section__h1 {
    padding: 0;
    font-size: 2.8rem;
  }
  body .main-index .container-index__section .index-section__h1 .nombre-index {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 992px) {
  body .main-index .container-index__section {
    width: 70%;
    padding: 1rem 2rem 0 1rem;
    margin: 8em 0 0 7em;
  }
  body .main-index .container-index__section .index-section__h1 {
    border-left: 1px solid #f2f2f2;
    margin-left: 10em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  body .main-index .container-index__section .index-section__h1 .nombre-index {
    font-size: 2.3rem;
  }
  body footer {
    padding-bottom: 6%;
  }
}
@media only screen and (max-width: 768px) {
  body header nav {
    background-color: #222126;
  }
  body header .nav-link-modif:hover {
    color: #116ebf;
    transform: none;
  }
  body .main-index {
    background-image: url(../img/bg-index-mobile.jpg);
    background-size: cover;
    overflow-x: hidden;
    font-size: 1.3rem;
  }
  body .main-index .container-index__section {
    padding: 5em 0 5em 0;
    margin-top: 1em;
  }
  body .main-index .container-index__section .index-section__h1 {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2.2rem;
    border: 0;
    border-bottom: 1px solid #f2f2f2;
    padding: 3%;
  }
  body .main-index .container-index__section .index-section__h1 .nombre-index {
    font-size: 2.3rem;
  }
  body .main-index .container-index__section .index-section__p {
    margin: 0;
    font-size: 1rem;
    max-width: 100%;
  }
  body .main-pages .section-page .main-titles__h1 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 0 0 2em 0;
  }
  body .main-pages .section-page .row-cards-group {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
  }
  body .main-pages .section-page .sub-titles__h2 {
    text-align: center;
  }
  body .main-pages .section-page .sub-titles__p {
    text-align: center;
  }
  body .main-pages .section-page .portfolio-git__p {
    display: flex;
    flex-direction: column;
  }
  body footer ul {
    gap: 2em;
    margin-right: 2em;
  }
  body footer ul .resize-svg {
    width: 1.3rem;
  }
}
@media only screen and (max-width: 576px) {
  body .main-index .container-index__section {
    margin-left: 2.7em;
  }
  body .main-index .container-index__section .index-section__p {
    margin-left: 1em;
    font-size: 1.3rem;
  }
  body .main-pages {
    padding: 3%;
  }
  body .main-pages .section-page .main-titles__h1 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 0 0 2em 0;
  }
  body .main-pages .section-page .row-cards-group {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
