body footer ul .resize-svg:hover, body .main-pages .section-page .container-proyectos .proyectos-git__a:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

body .main-pages .section-page .bg-svg-arrow .arrow-top:hover, body .main-index .container-index__section .icon-ul .resize-svg:hover {
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
html body {
  background-color: #000;
  color: #f2f2f2;
}
html body ul {
  list-style-type: none;
}
html body img {
  width: 100%;
  display: block;
}
html body a {
  text-decoration: none;
  font-style: inherit;
  color: goldenrod;
}

body header nav {
  background-color: #000;
}
body header .container-nav {
  margin: 0 5em 0 3em;
}
body header .container-nav .logo-fa {
  width: 10%;
}
body header .code-slash-modif {
  color: gold;
  margin-right: 0.5rem;
}
body header .navbar-nav-modif {
  gap: 2em;
  font-family: sans-serif;
}
body header .navbar-nav .nav-link.active,
body header .navbar-nav .show > .nav-link {
  color: gold;
}
body header .btn-outline-success {
  color: gold;
  border-color: gold;
}
body header .nav-link-modif {
  position: relative;
  background-image: linear-gradient(70deg, #f2f2f2, gold);
  background-repeat: no-repeat;
  background-size: 0% 0.125rem;
  background-position: center bottom;
  transition: background-size 0.3s ease-in-out;
}
body header .nav-link-modif:hover {
  color: linear-gradient(10deg, #f2f2f2, gold);
  background-size: 100% 0.125rem;
}
body header .nav-link::after {
  content: "";
  background-image: gold;
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  height: 0.125rem;
  opacity: 0;
  border-radius: 1em;
}
body header .nav-link.active {
  position: relative;
}
body header .nav-link.active:hover {
  transform: none;
  background-color: none;
  cursor: default;
}
body header .nav-link.active::after {
  opacity: 1;
  background-color: gold;
}

body .main-index {
  min-height: 100vh;
  overflow: hidden;
}
body .main-index .container-index__section {
  display: flex;
  margin-top: 10%;
}
body .main-index .container-index__section .picture {
  display: flex;
  align-items: center;
}
body .main-index .container-index__section .picture .picture-logo {
  margin-left: 5em;
  width: 18rem;
  display: inline-block;
  border-radius: 50%;
}
body .main-index .container-index__section .index-section__h1 {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin-left: 4.5em;
  color: #f2f2f2;
  font-size: 2.4rem;
  text-align: center;
}
body .main-index .container-index__section .index-section__h1 .nombre-index {
  font-size: 2.8rem;
  text-align: center;
}
body .main-index .container-index__section .row .container .row-index__p .index-section__p1, body .main-index .container-index__section .row .container .row-index__p .index-section__p2 {
  padding-top: 1em;
  margin-left: 11.5em;
  color: #f2f2f2;
  width: 40%;
  text-align: center;
  font-weight: bold;
}
body .main-index .container-index__section .row .container .row-index__p .index-section__p2 {
  padding-left: 4.5em;
}
body .main-index .container-index__section .icon-ul {
  margin: 3em 0 0 12em;
  gap: 3em;
}
body .main-index .container-index__section .icon-ul .resize-svg {
  margin-top: 3em;
  color: goldenrod;
}
body .main-pages {
  padding: 3em;
}
body .main-pages .section-page {
  font-family: sans-serif;
  margin-top: 3em;
}
body .main-pages .section-page .main-titles__h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1em;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 1em;
}
body .main-pages .section-page .person-circle-modif {
  margin-top: 2em;
  padding: 1em;
  max-width: 22rem;
  justify-content: center;
  background-color: #222126;
  border-radius: 50%;
}
body .main-pages .section-page .section-sobre-mi__div-parrafo {
  margin-top: 3em;
  padding: 1em;
  font-size: 1.6rem;
  text-align: center;
}
body .main-pages .section-page .section-sobre-mi__div-parrafo .certificado-d-w:hover {
  color: goldenrod;
  text-shadow: 0 0.125rem 0.325rem rgba(255, 217, 0, 0.559);
}
body .main-pages .section-page .bg-svg-arrow .arrow-top {
  border-radius: 70%;
  background-size: 100%;
}
body .main-pages .section-page .bg-svg-arrow .arrow-top:hover {
  color: goldenrod;
}
body .main-pages .section-page .section-competencias__p {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 2em;
}
body .main-pages .section-page .container-skills {
  margin-left: 1%;
  padding: 5% 0 10% 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
body .main-pages .section-page .container-skills .skill {
  background-color: none;
  width: 6.25rem;
  height: 6.25rem;
  position: relative;
  border-radius: 20%;
  animation: salto 0.8s infinite;
}
body .main-pages .section-page .container-skills .skill::after {
  content: "";
  display: inline-block;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/250px-HTML5_logo_and_wordmark.svg.png");
  width: 6.25rem;
  height: 6.25rem;
  position: absolute;
  background-size: 5.625rem 5.625rem;
  background-repeat: no-repeat;
  top: 0.125rem;
}
@keyframes salto {
  0%, 100% {
    top: 0;
  }
  30% {
    top: -1.5625rem;
  }
}
@keyframes salto2 {
  0%, 100% {
    top: 0;
  }
  35% {
    top: -1.5625rem;
  }
}
body .main-pages .section-page .container-skills .css {
  animation: salto2 0.7s infinite;
}
body .main-pages .section-page .container-skills .css::after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/250px-CSS3_logo.svg.png");
  background-size: 4.625rem 4.625rem;
  top: 1.225rem;
  background-repeat: no-repeat;
}
body .main-pages .section-page .container-skills .bootstrap::after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/250px-Bootstrap_logo.svg.png");
  background-size: 4.625rem 4.625rem;
  top: 1.225rem;
  background-repeat: no-repeat;
}
body .main-pages .section-page .container-skills .sass {
  animation: salto2 0.7s infinite;
}
body .main-pages .section-page .container-skills .sass::after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/245px-Sass_Logo_Color.svg.png");
  background-size: 4.625rem 4.625rem;
  top: 1.225rem;
  background-repeat: no-repeat;
}
body .main-pages .section-page .container-skills .git::after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/200px-Git-logo.svg.png");
  background-size: 5rem 5rem;
  top: 1.225rem;
  background-repeat: no-repeat;
}
body .main-pages .section-page .container-skills .node {
  animation: salto2 0.7s infinite;
}
body .main-pages .section-page .container-skills .node::after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/200px-Node.js_logo.svg.png");
  background-size: 5rem 5rem;
  top: 1.225rem;
  background-repeat: no-repeat;
}
body .main-pages .section-page .container-proyectos {
  margin: auto 0;
  padding: 1rem;
  gap: 5rem;
}
body .main-pages .section-page .container-proyectos .card-proyectos {
  display: flex;
  flex-wrap: wrap;
  width: 18.75rem;
  height: 21.875rem;
  position: relative;
  margin: 25% 0 30% 0;
}
body .main-pages .section-page .container-proyectos .card-proyectos:hover .front {
  transform: perspective(37.5rem) rotateY(180deg);
}
body .main-pages .section-page .container-proyectos .card-proyectos:hover .back {
  transform: perspective(37.5rem) rotateY(360deg);
}
body .main-pages .section-page .container-proyectos .card-proyectos .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.625rem;
  overflow: hidden;
  transition: 0.8s;
}
body .main-pages .section-page .container-proyectos .card-proyectos .front {
  transform: perspective(37.5rem) rotateY(0deg);
  border: 0.125rem solid gold;
}
body .main-pages .section-page .container-proyectos .card-proyectos .front .card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .main-pages .section-page .container-proyectos .card-proyectos .back {
  transform: perspective(37.5rem) rotateY(180deg);
  background-color: #020202;
  padding: 0.9375rem;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 0.3125rem 0.625rem gold;
}
body .main-pages .section-page .container-proyectos .card-proyectos-body {
  margin-top: 2%;
  color: #01030d;
  background-color: gold;
  border-radius: 0 0 1rem 1rem;
}
body .main-pages .section-page .container-proyectos .card-text-small {
  color: #24303c;
}
body .main-pages .section-page .container-proyectos .proyectos-git__p {
  font-size: 1.5rem;
  text-align: center;
  gap: 1%;
  padding-top: 8%;
}
body .main-pages .section-page .container-proyectos .proyectos-git__a {
  color: #f2f2f2;
}
body .main-pages .section-page form {
  color: rgb(128, 128, 128);
}
body .main-pages .section-page form .form-check {
  padding-top: 2em;
  margin-left: 0.1em;
}
body .main-pages .section-page .btn-form {
  border-color: #01030d;
  font-weight: bold;
  color: #000;
  background-color: gold;
  margin: 2em;
}
body .main-pages .section-page .btn-form:hover {
  box-shadow: 0 0.3125rem 0.625rem gold;
}

body .footer-index {
  border-top: none;
}
body .footer-index .title-footer {
  font-family: monospace;
  color: gold;
  display: flex;
  justify-content: center;
}

body footer {
  border-top: 0.2px solid gold;
  position: relative;
  bottom: 0;
  height: 12vh;
  max-width: 100%;
  padding: 1em 0 0.8em 0;
  overflow: hidden;
  background-color: none;
}
body footer ul {
  gap: 3em;
}
body footer ul .resize-svg {
  height: 1.7rem;
}
body footer ul .resize-svg:hover {
  color: gold;
}
body footer .footerConteinerUl__li-index {
  display: none;
}

@media only screen and (max-width: 992px) {
  body header nav {
    background-color: #000;
  }
  body header .container-nav {
    margin: 0;
    padding: 0 2%;
  }
  body header .container-nav .navbar-nav-modif {
    gap: 1.1875rem;
  }
  body .main-index .container-index__section .picture {
    width: 100%;
    margin: 20% 15% 0 0;
  }
  body .main-index .container-index__section .picture .picture-logo {
    width: 12rem;
    margin-left: 0;
  }
  body .main-index .container-index__section .index-section__h1 {
    margin: 3em 0 0 6rem;
    font-size: 1.7rem;
  }
  body .main-index .container-index__section .index-section__h1 .nombre-index {
    font-size: 1.8rem;
  }
  body .main-index .container-index__section .index-section__p {
    width: 80%;
  }
  body .main-index .container-index__section .index-section__p .index-section__p1, body .main-index .container-index__section .index-section__p .index-section__p2 {
    width: 90%;
  }
  body .main-index .container-index__section .icon-ul {
    margin: 2em 0 0 7em;
  }
  body footer {
    padding-bottom: 6%;
  }
}
@media only screen and (max-width: 768px) {
  body header nav {
    background-color: #222126;
  }
  body header nav .nav-link.active:hover {
    color: gold;
    transform: none;
  }
  body header nav .nav-link.active::after {
    content: none;
  }
  body .main-index {
    background-image: url(../img/bg-index-mobile.jpg);
    background-size: cover;
    overflow-x: hidden;
    font-size: 1.3rem;
  }
  body .main-index .container-icon {
    display: none;
  }
  body .main-index .container-index__section {
    padding: 5em 0 5em 0;
  }
  body .main-index .container-index__section .index-section__h1 {
    max-width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5.2em;
    border: 0;
    border-bottom: 1px solid #f2f2f2;
    padding: 3%;
  }
  body .main-index .container-index__section .index-section__h1 .nombre-index {
    font-size: 2.3rem;
    max-width: 100%;
  }
  body .main-index .container-index__section .index-section__p {
    margin: 0 0 0 4em;
    font-size: 1rem;
    max-width: 100%;
  }
  body .main-pages .section-page .main-titles__h1 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 0 0 2em 0;
  }
  body .main-pages .section-page .row-cards-group {
    display: flex;
    flex-direction: column;
    row-gap: 3em;
  }
  body .main-pages .section-page .sub-titles__h2 {
    text-align: center;
  }
  body .main-pages .section-page .sub-titles__p {
    text-align: center;
  }
  body .main-pages .section-page .portfolio-git__p {
    display: flex;
    flex-direction: column;
  }
  body footer .title-footer {
    display: none;
  }
  body footer ul {
    gap: 2em;
    margin-right: 2em;
  }
  body footer ul .footerConteinerUl__li-index {
    display: initial;
  }
  body footer ul .footerConteinerUl__li-index .resize-svg {
    width: 1.3rem;
  }
}
@media only screen and (max-width: 576px) {
  body header nav {
    background-color: #000;
  }
  body header .container-nav {
    margin: 0 1em 0 2em;
  }
  body .main-index .container-index__section {
    margin: 0;
  }
  body .main-index .container-index__section .index-section__h1 {
    margin-left: 4.2em;
  }
  body .main-index .container-index__section .index-section__p {
    margin-left: 2.5em;
    font-size: 1.3rem;
    padding: 1em 0.3em;
  }
  body .main-pages {
    padding: 3%;
  }
  body .main-pages .section-page .main-titles__h1 {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: 3em 0 2em 0;
  }
  body .main-pages .section-page .row-cards-group {
    display: flex;
    flex-direction: column;
  }
  body footer .title-footer {
    display: none;
  }
  body footer ul {
    gap: 3em;
  }
  body footer ul .resize-svg {
    height: 1.7rem;
  }
  body footer .footerConteinerUl__li-index {
    display: initial;
  }
}

/*# sourceMappingURL=style.css.map */
