/* ---------- normalize CSS  */
body {
    background-color: #000;
  }
ul {
    list-style-type: none;
  }
img {
    max-width: 100%;
    width: 100%;
    display: block;
  }
a {
    text-decoration: none;
    font-style: inherit;
  }
  
  /* ---------- Fin normalize CSS */
  
  /*----------- VariablesCSS */
  :root {
    /*-- colors-- */
    --text-color: #f2f2f2;
    --text-color-alter: #24303c;
    --color-dark: #01030d;
    --background-footer: #222126;
    --background-botom: #116ebf;
    --background-botom2: #138af2;
  
    /* Spacings */
    --spacing-xxlarge: 13em;
    --spacing-xlarge: 10em;
    --spacing-large: 8em;
    --spacing-medium: 5em;
    --spacing-small: 3em;
    --spacing-xsmall: 2em;
    --spacing-xxsmall: 1em;
  
    /* Font-Family */
    --font-principal: sans-serif;
    --font-alternative: Roboto;
  
    /* font-Sizes */
    --text-xlarge: 7.2rem;
    --text-large: 5.2rem;
    --text-medium: 4rem;
    --text-small: 3rem;
    --text-xsmall: 1.4rem;
    --text-base: 1.9rem;
  }
  /*----------- Fin Variables CSS */
  
  /*----------- Header y Footer */
  
  /* Header  */
  .header{

  }
  .navbar-nav-modif {
    margin: 0 auto;
    gap: var(--spacing-xsmall);
    font-family: var(--font-principal);
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: var(--background-botom);
  }
  .btn-outline-success {
    color: var(--background-botom);
    border-color: var(--background-botom);
  }
  .code-slash-modif {
    color: #f2f2f2;
    margin-right: 0.5rem;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: var(--background-botom);
  }
  .nav-link-modif:hover {
    color: var(--text-color);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }
  .btn:first-child:hover,
  :not(.btn-check) + .btn:hover {
    background-color: var(--background-botom);
    border-color: var(--background-botom);
    color: var(--text-color);
  }
  
  /* Footer  */
  .footer {
    position: relative;
    bottom: 0;
    height: 12vh;
    max-width: 100%;
    padding: 1.2rem;
    overflow: hidden;
    background-color: var(--background-footer);
  }
  .footer-ul {
    gap: var(--spacing-small);
  }
  .resize-svg {
    height: var(--text-base);
  }
  .resize-svg:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
  }
  
  /*--------- Fin Header y Footer */
  
  /*---------- Contenido General  */
  
  /* main index */
  .main-index {
    min-height: 100vh;
    background-image: url(./img/bg-index.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container-index__section {
    padding-left: 25rem;
  }
  .index-section__h1 {
    padding-right: 5rem;
    margin: 10rem 0 0 10rem;
    max-width: 80%;
    border-left: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
  }
  .nombre-index {
    font-size: 3.5rem;
  }
  .index-section__p {
    padding-top: var(--spacing-xsmall);
    margin-left: var(--spacing-small);
    color: var(--text-color);
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  /*------ main-pages */
  .main-pages {
    background: linear-gradient(
      0deg,
      rgba(116, 121, 126, 1) 0%,
      rgba(0, 0, 0, 0.9199539312795431) 25%
    );
    color: var(--text-color);
    font-family: var(--font-principal);
    padding: var(--spacing-xsmall);
  }
  
  /*------ Section pages */
  .section-page {
    margin-top: var(--spacing-medium);
  }
  
  /*------ H1 pages */
  .main-titles__h1 {
    margin: var(--spacing-xsmall);
    font-size: var(--text-small);
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 1.5rem;
    text-align: center;
  }
  
  /* --- Sobre mí */
  .person-circle-modif {
    padding: var(--spacing-xxsmall);
    width: 12rem;
    justify-content: center;
    background-color: var(--background-botom2);
    border-radius: var(--spacing-large);
    float: center;
  }
  .cloud-arrow-down-modif {
    height: var(--spacing-small);
  }
  .section-sobre-mi__div {
    margin-top: var(--spacing-small);
    padding: var(--spacing-xxsmall);
    font-size: var(--text-xsmall);
  }
  
  /* ---- Cursos */
  .containerTitles__p {
    font-size: var(--text-xsmall);
    padding-bottom: var(--spacing-xsmall);
    text-align: center;
  }
  .sub-titles__h2 {
    padding-top: var(--spacing-xsmall);
  }
  /* Group Cards */
  .card-body-modif--GCard {
    color: var(--color-dark);
  }
  .card-title-cursos {
    color: var(--background-botom2);
  }
  .card-text-cursos {
    font-family: var(--font-principal);
    line-height: normal;
  }
  /* End of Group Cards */
  
  /* ---- Portfolio */
  /* Cards */
  .card-portfolio {
    border: #000 solid 1px;
    padding: 3%;
    background-color: #24303c;
  }
  .card-portfolio:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .card-portfolio-body {
    margin-top: 2%;
    color: var(--color-dark);
    background-color: var(--background-botom);
    border-radius: 0 0 1rem 1rem;
  }
  .card-text-small {
    color: var(--text-color-alter);
  }
  .row-portfolio {
    gap: var(--spacing-medium);
  }
  /* End of cards */
  .portfolio-git__p {
    font-size: var(--text-xsmall);
    gap: 1%;
    text-align: center;
  }
  .portfolio-git__a {
    color: var(--text-color);
  }
  
  /*----- Contacto*/
  .btn-form {
    margin: var(--spacing-xsmall);
  }
  
  /*---------- Fin Contenido General  */
  
  /*---------- Media Queries  */
  
  @media only screen and (max-width: 992px) {
    /* index  */
    .index-section__h1 {
      padding-right: 5rem;
      margin: 9rem 0 0 8rem;
      max-width: 100%;
      border-left: 1px solid var(--text-color);
      color: var(--text-color);
      font-size: 2rem;
      text-align: center;
    }
    .nombre-index {
      font-size: 2.5rem;
    }
    .container-index__section {
      padding-left: 20rem;
      font-size: var(--text-xsmall);
    }
    /* Footer */
    .footer {
      padding-bottom: 6%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* header */
    .nav-link-modif:hover {
      color: var(--text-color);
      transform: none;
    }
    /* main global */
    main {
      min-height: 100vh;
    }
    /* index */
    .main-index {
      background-image: url(./img/background_index.jpg);
      background-size: cover;
      overflow-x: hidden;
      font-size: var(--text-xsmall);
    }
    .container-index__section {
      padding: var(--spacing-medium) 0 var(--spacing-medium) 0;
      margin-top: var(--spacing-xxsmall);
    }
    .index-section__h1 {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      margin: 0 var(--spacing-xxsmall) 0 0;
      border: 0;
      border-bottom: 1px solid var(--text-color);
      padding: 3%;
    }
    .nombre-index {
      font-size: 2.3rem;
    }
    .index-section__p {
      margin: 0;
      font-size: 1rem;
      max-width: 100%;
    }
    /* Footer */
    .footer-ul {
      gap: var(--spacing-xsmall);
      margin-right: 2rem;
    }
    .resize-svg {
      width: 1.3rem;
    }
    /* Cursos  */
    .row-cards-group {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
    }
    /* portfolio */
    .portfolio-git__p {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 576px) {
    /* index */
    .index-section__h1 {
      margin: 0;
    }
    /*------ H1 pages */
    .main-titles__h1 {
      font-size: var(--text-base);
      text-align: center;
    }
    /* Cursos  */
    .row-cards-group {
      display: flex;
      flex-direction: column;
    }
  }