/*----------- Normalize CSS */
:root {
    /*-- colors-- */
    --color-dark: #01030D;
    --shadows-color: rgba(0, 0, 0, 0.449);
    --background-header: #74797e3e;
    --background-footer: #222126;
    --text-color: #F2F2F2;
    --background-botom: #116EBF;
    --background-botom2: #138AF2;
  
    /* Spacings */
    --spacing-xxlarge: 13em;
    --spacing-xlarge: 10em;
    --spacing-large: 8em;
    --spacing-medium: 5em;
    --spacing-small: 3em;
    --spacing-xsmall: 2em;
    --spacing-xxsmall: 1em;
  
    /* Font-Family */
    --font-header: sans-serif;
    --font-principal: Roboto;
  
    /* font-Sizes */
    --text-xlarge: 7.2rem;
    --text-large: 5.2rem;
    --text-medium: 4rem;
    --text-small: 3rem;
    --text-xsmall: 1.4rem;
    --text-base: 1.9rem;
  }

* {
    padding: 0;
    margin: 0;
}

.navbar-bg {
    background: none;
}
.navbar-nav-modif {
    margin: 0 auto;
}

main{
    min-height: 100vh;
background-image: url(./img/background_index.jpg);
background-size: cover;
}

.footer {
    background: #116EBF;
    height: 75px;
    width: 100%;
}