$header: (
    bg-header: #000,
    text-color: #f2f2f2,
    bg-buton: #E5B80B,
    spacing: 2em,
    font-family: sans-serif,
);

$footer: (
    bg-footer: #000,
    spacing-1: 1em,
    spacing-2: 3em,
    height-icon: 1.7rem,
);