// colors
$text-color: #f2f2f2;
$color-dark: #000;
$bg-footer: #222126;
$active-color: #E5B80B;

// spacings 
$spacing-xxlarge: 13em;
$spacing-xlarge: 10em;
$spacing-large: 8em;
$spacing-medium: 5em;
$spacing-small: 3em;
$spacing-xsmall: 2em;
$spacing-xxsmall: 1em;

// font-family 
$font-principal: sans-serif;
$font-alternative: Roboto;
$font-title-h1: Georgia, 'Times New Roman', Times, serif;

// font-sizes
$text-xlarge: 7.2rem;
$text-large: 5.2rem;
$text-medium: 4rem;
$text-small: 3rem;
$text-base: 1.5rem;
$text-xsmall: 1.3rem;
$text-xxsmall: 1rem;