body {
    footer {
        position: relative;
        bottom: 0;
        height: 12vh;
        max-width: 100%;
        padding: map-get($footer, spacing-1) 0 .8em 0;
        overflow: hidden;
        background-color: none;
        .title-footer {
            font-family: monospace;
            color: gold;
            display: flex;
            justify-content: center;
        }
        ul {
            gap: map-get($footer, spacing-2);
            .resize-svg {
                height: map-get($footer, height-icon);
                    &:hover {
                        color: gold;
                        @extend %hover-animations;
                    }
            }
        }
        .footerConteinerUl__li-index {
            display: none;
        }
    }
}