body {
    background-color: $color-dark;
    color: $text-color;
    ul {
        list-style-type: none;
    }
    img {
        max-width: 100%;
        width: 100%;
        display: block;
    }
    a {
        text-decoration: none;
        font-style: inherit;
    }
}