body {
    header {
        nav {
            background-color: map-get($header, bg-header);
        }
        .container-nav {
            margin: 0 $spacing-medium 0 $spacing-small;
            .logo-fa {
                width: 10%;
            }
        }
        .code-slash-modif {
            color: map-get($header, text-color);
            margin-right: 0.5rem;
        }
        .navbar-nav-modif {
            gap: map-get($header, spacing);
            font-family: map-get($header, font-family);
        }
        .navbar-nav .nav-link.active,
        .navbar-nav .show > .nav-link {
            color: map-get($header, bg-buton);
        }
        .btn-outline-success {
            color: map-get($header, bg-buton);
            border-color: map-get($header, bg-buton);
        }
        .nav-link-modif {
            position: relative;
            background-image: linear-gradient(90deg, $text-color, $text-color);
            background-repeat: no-repeat;
            background-size: 0% 2px;
            background-position: center bottom;
            transition: background-size .5s ease-in-out;
            &:hover {
                color: map-get($header, $text-color);
                background-size: 100% 2px;
                @extend %hover-animations;
            }
        }
        .nav-link {
            &::after {
                content: "";
                background-image: gold;
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                height: 4px;
                opacity: 0;
                border-radius: 1em;
            }
        }
        .nav-link.active {
            position: relative;
            &:hover {
                transform: none;
                background-color: none;
            }
            &::after {
                opacity: 1;
                background-color: gold;
            }
        }
    }
}

