body {
    .main-index {
        min-height: 100vh;
        background-image: url(../img/bg-index.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        .container-index__section {
            margin-left: $spacing-small;
            padding: $spacing-large $spacing-xlarge $spacing-xxlarge 18em;
            .index-section__h1 {
                padding: 0 6rem 0 2rem;
                margin-left: 7.5em;
                max-width: 78%;
                border-left: 1px solid $text-color;
                color: $text-color;
                @include text (2.4rem, center);
                .nombre-index {
                    @include text (2.8rem, center);
                }
            }
            .index-section__p {
                padding: $spacing-xxsmall $spacing-xxsmall 0 0;
                margin-left: 11em;
                color: $text-color;
                width: 100%;
                text-align: center;
                font-weight: bold;
            }
            .icon-ul {
                margin: $spacing-small 0 0 $spacing-xlarge;
                gap: $spacing-small;
            }
        }
    }
}