body {
    .main-index {
        min-height: 100vh;
        background-image: url(../img/bg-index.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        .container-index__section {
            padding: 6.5em;
            margin-left: $spacing-small;
            .index-section__h1 {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: .3em;
                margin-left: 12em;
                border-left: 1px solid $text-color;
                color: $text-color;
                @include text (2.4rem, center);
                .nombre-index {
                    @include text (2.8rem, center);
                }
            }
            .index-section__p {
                padding:  1em;
                margin-left: 22em;
                color: $text-color;
                width: 70%;
                text-align: center;
                font-weight: bold;
            }
            .icon-ul {
                margin:$spacing-xsmall $spacing-xsmall 0 0;
                gap: $spacing-small;
            }
        }
    }
}