body {
    .main-index {
        min-height: 100vh;
        overflow: hidden;
        .container-index__section {
            display: flex;
            margin-top: 10%;
            .picture {
                display: flex;
                align-items: center;
                .picture-logo {
                    margin-left: $spacing-medium;
                    width: 325px;
                    display: inline-block;
                }
            }
            .index-section__h1 {
                display: flex;
                flex-direction: column;
                width: 42%;
                margin-left: $spacing-medium;
                border-left: 1px solid $text-color;
                color: $text-color;
                @include text (2.4rem, center);
                .nombre-index {
                    @include text (2.8rem, center);
                }
            }
            .row {
                .container {
                    .row-index__p {
                        .index-section__p1, .index-section__p2 {
                            padding-top:  1em;
                            margin-left: $spacing-large;
                            color: $text-color;
                            width: 50%;
                            text-align: center;
                            font-weight: bold;
                        }
                        .index-section__p2 {
                            padding-left: 20em;
                        }
                    }
                }
            }
            .icon-ul {
                margin:$spacing-xsmall 0 0 13em;
                gap: $spacing-small;
                .resize-svg {
                    color: goldenrod;
                    &:hover {
                        @extend %hover-animations;
                    }
                }
            }
        }
    }
}