@media only screen and (max-width: 992px) {
    body {
        // main
        main {
            // index
            .container-index__section {
                padding-left: 20rem;
                font-size: $text-xsmall;
                .index-section__h1 {
                    padding-right: $spacing-medium;
                    margin: 9rem 0 0 8rem;
                    max-width: 100%;
                    border-left: 1px solid $text-color;
                    color: $text-color;
                    font-size: $text-base;
                    text-align: center;
                    .nombre-index {
                        font-size: $text-base;
                    }
                }
            }
        }
        // footer
        footer {
            padding-bottom: 6%;
        }
    }
}
@media only screen and (max-width: 768px) {
    body {
        // header
        header {
            .nav-link-modif:hover {
                color: $bg-botom;
                transform: none;
            }
        }
        // index
        .main-index {
            background-image: url(../img/bg-index-mobile.jpg);
            background-size: cover;
            overflow-x: hidden;
            font-size: $text-xsmall;
            .container-index__section {
                padding: $spacing-medium 0 $spacing-medium 0;
                margin-top: $spacing-xxsmall;
                .index-section__h1 {
                    font-size: $text-base;
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 2.2rem;
                    border: 0;
                    border-bottom: 1px solid #f2f2f2;
                    padding: 3%;
                    .nombre-index {
                        font-size: 2.3rem;
                    }
                }
                .index-section__p {
                    margin: 0;
                    font-size: 1rem;
                    max-width: 100%;
                }
            }
        }
        // section-pages
        .main-pages {
            .section-page {
                // h1 pages
                .main-titles__h1 {
                    font-size: $text-base;
                    text-align: center;
                    width: 100%;
                    margin: 0 0 $spacing-xsmall 0;
                }
                // Cursos  
                .row-cards-group {
                    display: flex;
                    flex-direction: column;
                    row-gap: $spacing-small;
                }
                .sub-titles__h2  {
                    text-align: center;
                }
                .sub-titles__p {
                    text-align: center;
                }
                // Portfolio
                .portfolio-git__p {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        // footer
        footer {
            ul {
                gap: $spacing-xsmall;
                margin-right: $spacing-xsmall;
                .resize-svg {
                    width: $text-xsmall;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    body {
        .main-pages {
            .section-page {
                // h1 pages
                .main-titles__h1 {
                    font-size: $text-base;
                    text-align: center;
                    width: 100%;
                    margin: 0 0 $spacing-xsmall 0;
                }
                // Cursos
                .row-cards-group {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}