@media only screen and (max-width: 992px) { 
    body {
        header {
            nav {
                background-color: map-get($header, bg-header);
            }
            .container-nav {
                margin: 0;
                padding: 0 2%;
                .navbar-nav-modif {
                    gap: 1.1875rem;
                }
            }
        }
        .main-index {
            .container-index__section {
                width: 100%;
                margin: 10% 0 0 20%;
                .picture {
                    .picture-logo {
                        width: 10rem;
                        margin-left: 0;
                    }
                }
                .index-section__h1 {
                    margin:3em 0 0 3rem;
                    font-size: 1.7rem;
                    .nombre-index {
                        font-size: 1.8rem;
                    }
                }
                .index-section__p1 {                   
                    width: 100%;
                }
                .icon-ul {
                    margin:$spacing-xsmall 0 0 .5em;
                }
            }
        }
        .main-pages {
            .section-page {
                .container-proyectos {
                    flex-direction: column;
                    margin: 0 0 3rem 12rem;
                }
            }
        }
        // footer
        footer {
            padding-bottom: 6%;
        }
    }
}
@media only screen and (max-width: 768px) {
    body {
        header {
            nav {
                .navbar-collapse-menu {
                    height: 100vh;
                    margin-top: 6.3rem;
                    font-size: 1.6rem;
                }
                background-color: $color-dark;
                .navbar-nav .nav-link,
                .navbar-nav .show > .nav-link {
                    display: flex;
                    justify-content: center;
                }
                .navbar-toggler {
                    color: $active-color;
                }
                .navbar-nav .nav-link.active,
                .navbar-nav .show > .nav-link {
                    display: flex;
                    justify-content: center;
                }
                .nav-link.active {
                    &:hover {
                        color: transparent;
                        transform: none;
                    }
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .main-index {
            font-size: $text-base;
            .container-index__section {
                margin: 15% 14% 0 20%;
                flex-direction: column;
                row-gap: 1rem;
                .picture {
                    .picture-logo {
                        margin: .5em 0 0 4.6em;
                        width: 10rem;
                    }
                }
                .index-section__h1 {
                    margin: 1.5rem 0 0 4.5rem;
                }
                .container {
                    .index-section__p1 {
                        display: none;
                    }
                }
                .container-icon {
                    .icon-ul {
                        gap: 2em;
                        margin: 1em 0 2em 0;
                    }
                }
            }
        }
        // section-pages
        .main-pages {
            .section-page {
                // h1 pages
                .main-titles__h1 {
                    @include text(2.8rem, center);
                    width: 100%;
                    margin: 0 0 $spacing-xsmall 0;
                }
                // Proyectos
            .container-proyectos {
                margin-left: 5.9rem;
            }

            }
        }
        .footer-index {
            .title-footer {
                font-size: .9rem;
            }
            ul {
                gap: $spacing-xsmall;
                margin-right: $spacing-xsmall;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    body {
        header {
            nav {
                .navbar-collapse-menu {
                    font-size: 1.8rem;
                }
            }
            .container-nav {
                margin: 0 2%;
            }
        }
        .main-index {
            padding: 0 5%;
            .container-index__section {
                margin: 20% 16% 0 0;
                .picture {
                    .picture-logo {
                        margin: 3em 0 0 3.1em;
                        width: 10rem;
                    }
                }
                .index-section__h1 {
                    width: 100%;
                    font-size: $text-xsmall;
                    margin: 1.5rem 0 0 .2rem;
                }
                .container-icon {
                    .icon-ul {
                        gap: 1.12em;
                        margin: 1rem 0 1rem .5rem;
                    }
                }
            }
        }
        .main-pages {
            padding: 3%;
            .section-page {
                // Título del resto de las páginas
                .main-titles__h1 {
                    @include text(1.8rem, center);
                    width: 100%;
                    margin: $spacing-small 0 $spacing-xsmall 0;
                }
                // Competencias
                .container-skills {
                    flex-wrap: wrap;
                    gap: 1.5rem;
                    padding-bottom: 3em;
                    .skill {
                        margin-top: 1rem;
                        width: 3.25rem;
                        height: 3.25rem;
                        &::after {
                            padding: 2em;
                            width: 3.25rem;
                            height: 3.25rem;
                            background-size: 3rem 3rem;
                        }
                    }
                }
                // Proyectos 
                .container-proyectos {
                    margin: 0;
                    column-gap: 5rem;
                }
            }
        }
        footer {
            ul {
                gap: $spacing-xsmall;
                margin-right: $spacing-xxsmall;
            }
        }
    }
}

