body {
    .main-pages {
        background: linear-gradient(
        0deg,
        rgb(116, 121, 126) 0%,
        rgba(0, 0, 0, 0.9199539313) 25%
        );
        font-family: $font-principal;
        padding: $spacing-small;

        // section-pages
        .section-page {
            margin-top: $spacing-medium;
            .main-titles__h1 {
                margin: $spacing-xsmall;
                font-size: $text-small;
                border-bottom: 2px solid $text-color;
                padding-bottom: $spacing-xsmall;
                text-align: center;
            }

            // Sobre mí
            .person-circle-modif {
                padding: $spacing-xxsmall;
                width: $spacing-xxlarge;
                justify-content: center;
                background-color: $bg-botom2;
                border-radius: $spacing-xxlarge;
                float: center;
            }
            .cloud-arrow-down-modif {
                height: $spacing-small;
            }
            .section-sobre-mi__div {
                margin-top: $spacing-small;
                padding: $spacing-xxsmall;
                font-size: $text-xsmall;
                text-align: center;
            }

            // Cursos
            .containerTitles__p {
                font-size: $text-xsmall;
                padding-bottom: $spacing-xsmall;
                text-align: center;
            }           
            .sub-titles__h2 {
                padding-top: $spacing-xsmall;
            }
            .card-body-modif--GCard {
                color:  $color-dark;
            }
            .card-title-cursos {
                color: $bg-botom2;
            }
            .card-text-cursos {
                font-family: $font-principal;
                line-height: normal;
            }

            // Portfolio
            .card-portfolio {
                border: $color-dark solid 1px;
                padding: 3%;
                background-color: $text-color-alter;
                    &:hover {
                    transform: scale(1.1);
                    transition: all ease-in-out 0.3s;
                    cursor: pointer;
                    }
            }
            .card-portfolio-body {
                margin-top: 2%;
                color: $color-dark;
                background-color: $bg-botom;
                border-radius: 0 0 1rem 1rem;
            }
            .card-text-small {
                color: $text-color-alter
            }
            .row-portfolio {
                gap: $spacing-medium;
            }
            .portfolio-git__p {
                font-size: $text-xsmall;
                gap: 1%;
                text-align: center;
            }
            .portfolio-git__a {
                color: $text-color;
                &:hover {
                    transform: scale(1.1);
                    transition: all ease-in-out 0.3s;
                    cursor: pointer;
                }
            }

            // Contacto
            .btn-form {
                margin: $spacing-xsmall;
                &:hover {
                    transform: scale(1.1);
                    transition: all ease-in-out 0.1s;
                    cursor: pointer;
                }
            }
        }
        // Fin section-pages

    }
}