body {
    .main-pages {
        padding: $spacing-small;
        .section-page {
            font-family: $font-principal;
            margin-top: $spacing-small;
            .main-titles__h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin: $spacing-xxsmall;
                @include text(3rem, center);
                border-bottom: 2px solid $text-color;
                padding-bottom: $spacing-xxsmall;              
            }

            // Sobre mí
            .person-circle-modif {
                margin-top: $spacing-xsmall;
                padding: $spacing-xxsmall;
                max-width: 22rem;
                justify-content: center;
                background-color: $bg-footer;
                border-radius: 50%;
            }
            .section-sobre-mi__div-parrafo {
                margin-top: $spacing-small;
                padding: $spacing-xxsmall;
                @include text(1.6rem, center);
                .certificado-d-w {
                    &:hover {
                        color: goldenrod;
                        text-shadow: 0 .125rem .325rem rgba(255, 217, 0, 0.559);
                    }
                }
            }
            .bg-svg-arrow {
                .arrow-top {
                    border-radius: 70%;
                    background-size: 100%;
                    &:hover {
                        @extend %hover-animations3;
                        color: goldenrod;
                    }
                }
            }

            // Competencias
            .section-competencias__p {
                @include text(1.6rem, center);
                padding-bottom: $spacing-xsmall;
            }           
            .container-skills {
                margin-left: 1%;
                padding: 5% 0 10% 0;
                display: flex;
                justify-content: center;
                gap: 1.5rem;               
                .skill {
                    background-color: none;
                    width: 6.25rem;
                    height: 6.25rem;
                    position: relative;
                    border-radius: 20%;
                    animation: salto .8s infinite;
                    &::after {
                        content: '';
                        display: inline-block;
                        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/250px-HTML5_logo_and_wordmark.svg.png");
                        width: 6.25rem;
                        height: 6.25rem;
                        position: absolute;
                        background-size: 5.625rem 5.625rem;
                        background-repeat: no-repeat;
                        top: .125rem;
                    }
                    @keyframes salto {
                        0%, 100% {top: 0;}
                        30% {top: -1.5625rem;}
                    }
                    @keyframes salto2{
                        0%, 100% {top: 0;}
                        35% {top: -1.5625rem;}
                    }
                }
                .css {
                    animation: salto2 .7s infinite;
                    &::after {
                        content: '';
                        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/250px-CSS3_logo.svg.png");
                        background-size: 4.625rem 4.625rem;
                        top: 1.225rem;
                        background-repeat: no-repeat;
                    }
                }
                .bootstrap {
                    animation: salto .8s infinite;
                    &::after {
                        content: '';
                        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/250px-Bootstrap_logo.svg.png");
                        background-size: 4.625rem 4.625rem;
                        top: 1.225rem;
                        background-repeat: no-repeat;
                    }
                }
                .sass {
                    animation: salto2 .7s infinite;
                    &::after {
                        content: '';
                        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/245px-Sass_Logo_Color.svg.png");
                        background-size: 4.625rem 4.625rem;
                        top: 1.225rem;
                        background-repeat: no-repeat;
                    }
                }
                .git {
                    animation: salto .6s infinite;
                    &::after {
                        content: '';
                        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/200px-Git-logo.svg.png");
                        background-size: 5rem 5rem;
                        top: 1.225rem;
                        background-repeat: no-repeat;
                    }
                }
                .node {
                    animation: salto2 .9s infinite;
                    &::after {
                        content: '';
                        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/200px-Node.js_logo.svg.png");
                        background-size: 5rem 5rem;
                        top: 1.225rem;
                        background-repeat: no-repeat;
                    }
                }
            }
            



            // Proyectos
            .container-proyectos {
                margin-right: 1rem;
                column-gap: 8rem;
                .card-proyectos {
                    width: 18.75rem;
                    height: 21.875rem;
                    position: relative;
                    margin: 25% 0 30% 0;
                    &:hover {
                        .front {
                            transform: perspective(37.5rem) rotateY(180deg);
                        }
                        .back {
                            transform: perspective(37.5rem) rotateY(360deg);
                        }
                    }
                    .face {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        border-radius: .625rem;
                        overflow: hidden;
                        transition: .8s;
                    }
                    .front {
                        transform: perspective(37.5rem) rotateY(0deg);
                        border: calc(.0625rem*2) solid gold;
                        .card-img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .back {
                        transform: perspective(37.5rem) rotateY(180deg);
                        background-color: #020202;
                        padding: .9375rem;
                        color: #f3f3f3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;
                        box-shadow: 0 .3125rem .625rem gold;
                    }
                }
            }

            // Contacto
            form {
                color: rgb(128, 128, 128);
                // .form-floating>.form-control, .form-floating>.form-control-plaintext {
                //     &:target{
                //         border-style: #000;
                //     }
                // }
                .form-check {
                    padding-top: $spacing-xsmall;
                    margin-left: .1em;
                }
            }
            .btn-form {
                border-color: $color-dark;
                font-weight: bolder;
                color: #000;
                background-color: gold;
                margin: $spacing-xsmall;
                &:hover {
                    box-shadow: 0 .3125rem .625rem gold;
                }
            }
        }
    }
}