body {
    .main-pages {
        .section-page {
            .card-portfolio {
                width: 20%;
                position: absolute;
                border: $color-dark solid 1px;
                padding: 3%;
                background-color: none;
                &:hover {
                    @extend %hover-animations2;
                }
            }
            .card-portfolio-body {
                margin-top: 2%;
                color: $color-dark;
                background-color: gold;
                border-radius: 0 0 1rem 1rem;
            }
            .card-text-small {
                color: $text-color-alter
            }
            .row-portfolio {
                gap: $spacing-medium;
            }
            .portfolio-git__p {
                @include text(1.5rem, center);
                gap: 1%;
            }
            .portfolio-git__a {
                color: $text-color;
                &:hover {
                    @extend %hover-animations;
                }
            }
        }
    }
}